@model Cart

<div class="jumbotron">
    Ödemeniz gereken toplam tutar => @Model.TotalPrice ...Siparişi onaylamak icin lütfen <a asp-controller="Shopping" asp-action="ConfirmOrder">tıklayınız</a>
</div>


<div class="row product-list">
    @foreach (CartItem item in Model.GetCartItems)
    {

        <div class="col-md-4">

            <section class="panel">
                <div class="pro-img-box">
                    <img src="@item.ImagePath" />
                    <a asp-action="RemoveFromCart" asp-route-id="@item.Id" class="adtocart">
                        <i class="glyphicon glyphicon-remove"></i>
                    </a>
                </div>

                <div class="panel-body text-center">
                    <h4>
                        <a asp-action="Index" asp-route-categoryId="@item.CategoryId" class="pro-title" title="@item.CategoryName ürünlerini görmek icin tıklayabilirsiniz"> @item.ProductName x @item.Amount </a>
                        

                    </h4>
                    <p class="price">$@item.SubTotal</p>


                    <a asp-action="IncreaseCartItem" asp-route-id="@item.Id"> <i class="glyphicon glyphicon-plus"></i>    </a> <br />

                    <a asp-action="DecreaseFromCart" asp-route-id="@item.Id"> <i class="glyphicon glyphicon-minus"></i>    </a>
                </div>
            </section>
        </div>
        
    }
</div>